.new-task-container {
  width: 250px;
}
#new-task-form {
    /* Add styles for the form element */
    display: flex; /* Add flex display for aligning form items to left */
    flex-direction: column; /* Set flex-direction to column for vertical alignment */
    /* outline: auto; */


}

#new-task-form label {
    /* Add styles for the labels */
    border: none; /* Remove border */
    display: block; /* Display labels as block elements for left-alignment */
    margin-bottom: 10px; /* Add margin for spacing between labels */
    background: transparent;

    /* text-align: left; Align text to left */
  }
  
  #new-task-form select {
    /* Add styles for the input and select elements */
    width: 70%; /* Set width to 100% to fill the parent container */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add margin for spacing between inputs */
    margin-left: 40px;
    background: transparent;
    color: rgba(255, 255, 255, 0.87);


  }

  #new-task-form input[type="datetime-local"]{
    width: 70%;
    margin-bottom: 10px; /* Add margin for spacing between inputs */
    margin-left: 10px;
    padding: 5px; /* Add padding for spacing */
    background: transparent;
    color: rgba(255, 255, 255, 0.87);


  }

  #new-task-form input[type="text"]{
    width: 70%; /* Set width to 100% to fill the parent container */
    margin-left: 10px;
    padding: 5px; /* Add padding for spacing */
    background: transparent;
    color: rgba(255, 255, 255, 0.87);
  }


  .btn-class{
    align-self: center;
  }
  #submit-btn {
    /* Add styles for the submit button */
    width: 92px; /* Set width to 100% to fill the parent container */
    padding: 10px; /* Add padding for spacing */
    margin: 0px 5px;
    color: rgba(255, 255, 255, 0.87);

  }

  /* #submit-btn:hover {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    color: black;
    } */

  
  /* .expand-btn:focus {
    outline: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
  } */

  .newday-container{
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .expand-btn{
    color: rgba(255, 255, 255, 0.87);
  }
  .expand-btn:focus {
    outline: none;
  }