.bullet-points h5 {
    opacity: 0;
    animation: typing 0.5s steps(25, end) forwards;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-size: 1rem;
  }
  
  
  @keyframes typing {
    from {
    }
    to {
      opacity: 1;
    }
  }

  .objective-input {
    margin-bottom: 30px;
    font-size: 20px; /* Change the font-size value to your desired size */
    border: none; /* Remove the border */
    border-bottom: 1px solid white; /* Add underline */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the background transparent */
  }
  
  .objective-input:focus {
    outline: none; /* Remove the blue outline when focused */
  }
  
  .agent-btn{
    background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: solid 1px white;
  }