.bullet-points h5 {
    opacity: 0;
    animation: typing 0.5s steps(25, end) forwards;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-size: 1rem;
  }
  
  
  @keyframes typing {
    from {
    }
    to {
      opacity: 1;
    }
  }
  